<form action="/artists">
  <div class="form-group">
    <label for="artist">Enter Artist Name</label>
    <input id="artist" name="artist1" class="form-control" type="text">
    <label for="stage_artist">Enter Artist Stage Name</label>
    <input id="stage_artist" name="stage_artist1" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>