<form action="/stages">
  <div class="form-group">
    <label for="stage">Enter Stage Name</label>
    <input id="stage" name="stage1" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>